.product {
    width: 400px;
    //height: 300px;

    &__title{
        font-weight: bold;
    }

    &__image{
        width: 100px;
        height: 100px;
    }

    &__price{
        font-size: 1.5rem;
    }
}