.product {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    color: rgb(88, 88, 88);
    width: 800px;
    height: 150px;
    border: 1px solid rgb(230, 231, 233);
    border-radius: 15px;;
    background-color: rgb(252, 252, 252);
    margin: 10px 20px;
    padding: 10px 10px 10px 40px;
    box-shadow:  5px 5px 8px #ebebeb,
             -5px -5px 8px #ffffff;
    transition: .2s;

    &__info {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }

    &__title{
        font-size: 1.1rem;;
        font-weight: bold;
        margin-bottom: 35px;
        cursor: pointer;
    }

    &__stock {
        font-size: 1.2rem;;
    }

    &__container {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__image{
        width: 100px;
        height: 100px;
    }

    &__button-container {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

    &__button {
        margin: 15px;
        border: none;
        border-radius: 10px;
        border: 1px solid rgb(223, 223, 223);
        width: 110px;
        height: 45px;
        background-color: rgb(247, 247, 247);
        cursor: pointer;
        transition: .08s;
        box-shadow:  4px 4px 6px #ebebeb,
             -4px -4px 6px #ffffff;
    
        &:hover {
            transform: scale(1.04);
        }
    }
}

.button--buy {
    border: 1px solid rgb(194, 203, 233);
    &:hover {
        background-color: rgb(194, 203, 233, .15);
    }
}

.button--sell {
    border: 1px solid rgb(175, 224, 177);
    &:hover {
        background-color: rgb(175, 224, 177, .15);
    }
}
